*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}
body{
     font-family: Arial, sans-serif; /* font style */
      background-color: #f6f7fb;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}
.container{
    margin-top: 50px;
    border-radius: 8px;
    width: 35%;
    background-color: white;
    padding: 20px 8px;
    text-align: center;
}
input{
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 8px;
    width: 60%;
    margin-right: 20px;
   
}
button{
      background-color: #007bff;
   
border-radius: 6px;
    border: none;
    padding: 5px;
    color: white;
  
}
#clr{
    background-color: red;
   
    
  
}
  ul {
    margin-top: 20px;

     list-style: decimal;
     list-style-position: inside;
    } 
        li {
      background: #f9f9f9;
      border-radius: 8px;
      padding: 8px;
      margin: 2px 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      transition: 0.3s;
    } 

    li button {
      background-color: #007bff;
      color: white;
      font-size: 12px;
           margin: 0px 2px;
      padding: 5px 8px;
      border-radius: 6px;
      
    }
    li button:nth-child(1){
        margin-left: 120px;
    }
    li button:nth-child(2){
        background-color: red;
        margin-right: 20px;
        float: right;
    }
      li.completed {
      text-decoration: line-through;
      color: gray;
      /* background-color: #e9ecef; */
    }

@media only screen and (min-width:300px) and (max-width:700px)
{
    .container{

    width: 90%;
   
}
}
